.chart-token-selector {
  padding: 0.5rem !important;
  border-radius: 100px !important;
  background: white !important;
  overflow: auto;
}

.chart-token-selector-dropdown {
  float: left;
  margin-top: 0.9rem;
}

.chart-token-selector--current {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 4px 0.5rem !important;
  color: black;
  float: left;
}

.chart-token-menu-items.menu-items {
  width: 15.8rem;
  top: 6rem;
  right: unset;
  left: 0;
}

.chart-token-menu-items .menu-item {
  font-size: var(--font-sm);
  height: 3.4rem;
  color: #a0a3c4;
}
