.SwapBox-collateral-tooltip-text {
  font-weight: normal;
}

.Exchange-swap-option-tabs {
  border-radius: 100px !important;
  padding: 1rem;
}

.Exchange-swap-option-tabs .Tab-option {
  font-size: 2rem;
  border-radius: 100px;
  background: #000000;
  color: #898989;
  width: 90%;
  justify-self: center;
  padding: 0.8rem !important;
}
.Exchange-swap-option-tabs .Tab-option.active {
  background: #FFFFFF !important;
  color: #000000 !important;
}

.Exchange-swap-option-tabs .Tab-option.muted {
  opacity: 1;
}

.Exchange-swap-option-tabs .Tab-option .Tab-option-icon {
  opacity: 1;
  width: 32px;
  height: 32px;
}

.Exchange-swap-order-container {
  background: #141414;
  border-radius: 24px;
  padding: 0.5rem 1.5rem;
}

.Exchange-swap-order-container .Exchange-swap-order-type-tabs {
  display: inline-block;
  border-bottom: 1px solid #212121;
}

.Exchange-swap-order-container .Exchange-swap-order-type-tabs .Tab-option {
  padding:0 2rem 1rem 2rem;
}

.Exchange-swap-order-container .Exchange-swap-order-type-tabs .Tab-option.active {
  border-bottom: 1px solid rebeccapurple;
}

.Exchange-swap-order-container .Exchange-swap-section {
  margin:1rem 0;
}

.Exchange-leverage-slider.green .rc-slider .rc-slider-step .rc-slider-dot-active,
.Exchange-leverage-slider.green .rc-slider .rc-slider-track {
  background-color: #23E2A0;
  background-image: none;
}

.Exchange-leverage-slider.green .rc-slider .rc-slider-handle {
  border-color: #23E2A0;
}

.Exchange-leverage-slider.red .rc-slider .rc-slider-step .rc-slider-dot-active,
.Exchange-leverage-slider.red .rc-slider .rc-slider-track {
  background-color: #EB6C6C;
  background-image: none;
}

.Exchange-leverage-slider.red .rc-slider .rc-slider-handle {
  border-color: #EB6C6C;
}
